body#netflix{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: linear-gradient(to top, rgba(255, 8, 8, 0.253) 0%, rgba(131, 10, 10, 0.452) 100%), url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-left: 8%;
    padding-right: 3%;
    padding-top: 1%;
    box-sizing: border-box;
}

body#primevideo{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, rgb(79, 172, 254, 0.3) 0%, rgb(0, 242, 254, 0.3) 100%), url(../img/fondo-prime.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-left: 8%;
    padding-right: 3%;
    padding-top: 1%;
    box-sizing: border-box;
}

body#hbo{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: linear-gradient(to top, rgba(106, 3, 202, 0.5) 0%, rgba(255, 85, 255, 0.5) 100%), url(../img/fondo-hbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-left: 8%;
    padding-right: 3%;
    padding-top: 1%;
    box-sizing: border-box;
}

body#disney{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: linear-gradient(to top, rgb(48, 207, 208, 0.5) 0%, rgb(51, 8, 103, 0.5) 100%), url(../img/fondo-disney.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-left: 8%;
    padding-right: 3%;
    padding-top: 1%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    flex: 1;
    text-align: right;
} 

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-right: 40px;
    cursor: pointer;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 10px;
}

h2{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 10px;
}

h3{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 10px;
}

p#pnet{
    color:rgb(255, 255, 255);
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 1px;
    margin-right: 30px;
}

p#phbo{
    color:rgb(255, 255, 255);
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 1px;
    margin-right: 30px;
}

p#pprime{
    color:rgb(255, 255, 255);
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 1px;
    margin-right: 30px;
}

p#pdis{
    color:rgb(255, 255, 255);
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 1px;
    margin-right: 30px;
}

button#btnnet{
    width: 110px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}

button#btnhbo{
    width: 110px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}

button#btnprime{
    width: 110px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}

button#btndis{
    width: 110px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}


.card{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

/*NETFLIX*/
.card1{
    background-image: url(../img/st.jpg);

}

.card2{
    background-image: url(../img/ins.jpg);
}

.card3{
    background-image: url(../img/wedn.jpg);
}

.card4{
    background-image: url(../img/anne.webp);
}

/*PRIME*/
.cp1{
    background-image: url(../img/greys.jpeg);
}

.cp2{
    background-image: url(../img/tb.jpeg);
}

.cp3{
    background-image: url(../img/summer.jpg);
}

.cp4{
    background-image: url(../img/doct.jpg);
}

/*HBO MAX*/
.cp5{
    background-image: url(../img/got.jpeg);
}

.cp6{
    background-image: url(../img/eup.png);
}

.cp7{
    background-image: url(../img/hp.jpg);
}

.cp8{
    background-image: url(../img/ab.jpg);
}

/*DISNEY*/
.cp9{
    background-image: url(../img/wv.webp);
}

.cp10{
    background-image: url(../img/cosmos.jpg);
}

.cp11{
    background-image: url(../img/enc.jpeg);
}

.cp12{
    background-image: url(../img/sh.jpeg);
}

.card:hover{
    transform: translateY(-10px);
}