*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body#main{
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255, 128, 119, 0.4) 0%, rgb(255, 134, 122, 0.4) 0%, rgb(255, 140, 127, 0.4) 21%, rgb(249, 145, 133, 0.4) 52%, rgb(207, 85, 108, 0.4) 78%, rgb(177, 42, 91, 0.4) 100%), url(../img/streaming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.streaming{
    position: fixed;
    top: 30px;
    right: 30px;
    background: rgb(206, 175, 175);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    background-image: linear-gradient(to top, rgb(63, 81, 177, .8) 0%, rgb(90, 85, 174, .8) 13%, rgb(123, 95, 172, .8) 25%, rgb(143, 106, 174, .5) 38%, rgb(168, 106, 164, .5) 50%, rgb(204, 107, 142, .5) 62%, rgb(241, 130, 113, .8) 75%, rgb(243, 164, 105, .8) 87%, rgb(247, 201, 120, .8) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px #fff;
}

.deco{
    color: #fff;
    text-decoration: none;
}

.spread{
    transform: translate(0);
}

.menu-navegacion{
    color: #fff;
}

.titulo{
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

.subtitulo{
    text-align: center;
    font-weight:800;
    color: brown;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 50%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #8a0234;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    width: 250px;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.us{
    display: flex;
    justify-content: space-evenly;
}

.cont-nosotros{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

footer{
    background: rgb(37, 4, 0);
    padding-bottom: 0.1px;

}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #f2f2f2;
}

.social-media-icon:hover{
    background: #fff;
    color: #8a0234;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

}

:root{
    --padding-container: 10px 0;
    --color-title: rgb(112, 0, 43);
}

body#disney{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px;
}

.proximamente{
    width: 100%;
    height: 100vh;
    min-height: 300px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px, 1fr;
    color: #fff;
}

.proximamente:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, rgb(212, 252, 121, .5) 0%, rgb(150, 230, 161, .5) 100%), url("../img/proximg.jpg");
    background-size: cover;
    z-index: -1;
}

.nav{
    padding:0 ;
    height: 100%;
    display: flex;
    align-items: center;
    --padding-container:0;
}


.nav-title{
    font-weight: 300;
}

.nav-link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;

}

.nav-items{
    list-style: none;
}

.nav-menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav-links{
    color: #fff;
    text-decoration: none;
}

.nav-img{
    display: block;
    width: 30px;
}

.nav-close{
    display: var(--show, none);
}

/*PROX CONTAINER*/
.prox-container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.prox-title{
    font-size: 3rem;
}

/*SERIES*/
.series{
    background-image: linear-gradient(to top, rgb(217, 175, 217, .5) 0%, rgb(151, 217, 225, .5) 100%), url("../img/green.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.series-container{
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    gap: 1em;
    align-items: center;
}

.series-body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/4;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.series-body-show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.series-img{
    width: 250px;
    height: 250px;
    border-radius: 15%;
    object-fit: cover;
    object-position: center;
}

.series-text{
    max-width: 700px;
}

.series-des{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;

}

.series-arrow{
    width: 90%;
    cursor: pointer;
}

/*PELICULAS*/
.pel{
    background-image: linear-gradient(120deg, rgb(166, 192, 254, .5) 0%, rgb(246, 128, 132, .5) 100%), url("../img/blue.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pel-container{
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    gap: 1em;
    align-items: center;
}

.pel-body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/4;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.pel-body-show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.pel-img{
    width: 250px;
    height: 250px;
    border-radius: 15%;
    object-fit: cover;
    object-position: center;
}

.pel-text{
    max-width: 700px;
}

.pel-des{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;

}

.pel-arrow{
    width: 90%;
    cursor: pointer;
}